<header *ngIf="isEditMode">
  <h1>Editar a aula 1</h1>
</header>

<header *ngIf="!isEditMode">
  <h1>Criação de uma aula</h1>
  <p>Adicionar uma aula para a turma de algoritmos e solução</p>
</header>
<form [formGroup]="atividadeFormGroup">
<div class="row" *ngIf="atividade !== undefined && atividade !== null">


  <div class="col-9">
    <section class="mt-5">

        <mat-card class="example-card p-5">
          <mat-card-header>
            <mat-card-title>Informações e recursos base</mat-card-title>
            <mat-card-subtitle>Preencha os campos abaixo, pois eles são obrigatórios para a base de uma aula</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="p-4">
            <fieldset formGroupName="infoGroup">
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Titulo</mat-label>
                  <input matInput formControlName="titulo">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>URL do youtube</mat-label>
                  <input matInput formControlName="urlVideoGravado">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>O que o aluno vai aprender?</mat-label>
                  <textarea matInput formControlName="descricao"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Observações importantes para o aluno</mat-label>
                  <textarea matInput formControlName="observacao"></textarea>
                </mat-form-field>
              </div>
            </fieldset>

          </mat-card-content>
        </mat-card>

        <mat-card class="mt-5 p-5">
          <mat-card-header>
            <mat-card-title>Exercícios propostos</mat-card-title>
            <mat-card-subtitle>Submeta os campos para que o aluno venha realizar as atividades</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="p-3">
            <fieldset formGroupName="exercicioGroup">
            <div class="row">
                <div class="col-7">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Titulo do exercicio</mat-label>
                    <input matInput formControlName="titulo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Exercícios propostos para o aluno</mat-label>
                    <textarea matInput formControlName="descricao"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-5">
                  <section class="d-flex flex-column mt-5 align-baseline">
                    <div>
                      <mat-slide-toggle class="text-left pb-3" formControlName="alunoFazUpload">O aluno faz
                        upload?</mat-slide-toggle>
                    </div>
                    <div>
                      <mat-slide-toggle class="text-left" formControlName="respostaTemTexto">A resposta tem
                        campo de texto?</mat-slide-toggle>
                    </div>
                  </section>
                </div>
              </div>
            </fieldset>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card p-5 mt-5">
          <mat-card-header>
            <mat-card-title>Ao vivo</mat-card-title>
            <mat-card-subtitle>Caso tenha recursos de aula ao vivo, ative a opção abaixo e preencha as opções.</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="p-4">
            <fieldset formGroupName="zoomGroup">
            <section class="mb-5">
              <mat-slide-toggle formControlName="temAulaAoVivo">Vai ter aula ao vivo deste conteúdo?</mat-slide-toggle>
              <mat-slide-toggle class="ml-5" *ngIf="isEditMode" >A aula ao vivo foi realizada?</mat-slide-toggle>
            </section>
            <div class="row" *ngIf="hasAulaAoVivo()" >
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Data da aula ao vivo</mat-label>
                  <input matInput [matDatepicker]="picker"  formControlName="dataHoraInicio">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Selecione o horario</mat-label>
                  <mat-select formControlName="horario">
                    <mat-option [value]="t" *ngFor="let t of times">{{ t }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Titulo personalizado da aula</mat-label>
                  <input matInput formControlName="topico">
                </mat-form-field>
              </div>
            </div>
          </fieldset>
          </mat-card-content>
        </mat-card>


        <mat-card class="example-card p-5 mt-5">
          <mat-card-header>
            <mat-card-title>Área de Discussão</mat-card-title>
            <mat-card-subtitle>Caso habilitar o recurso de forum de duvidas.</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="p-4">
            <section class="mb-5">
              <fieldset formGroupName="disqusGroup">
                <mat-slide-toggle formControlName="temDiscusao">Deseja habilitar a área de discussão para solucionar duvidas?</mat-slide-toggle>
              </fieldset>
            </section>
          </mat-card-content>
        </mat-card>

    </section>
  </div>

  <div class="col-3" style="position: fixed; right: 25px;">
    <mat-card class="example-card mt-5">
      <mat-card-content>
        <button mat-raised-button color="primary" class="w-100" (click)="publish()">{{ atividade.aula.configuracao.temAgendamento && atividade.aula.reuniao.dataHoraInicio ? 'Agendar' : 'Publicar agora'}}</button>
        <fieldset formGroupName="scheduleGroup">
          <section class="mt-3 mb-3">
            <mat-slide-toggle formControlName="temAgendamento" color="primary">Deseja agendar?</mat-slide-toggle>
          </section>
          <mat-form-field appearance="outline" class="w-100" *ngIf="isDesejaAgendar()" >
            <mat-label>Deseja Agendar?</mat-label>
            <input matInput [matDatepicker]="schedule" formControlName="liberadoEm">
            <mat-datepicker-toggle matSuffix [for]="schedule"></mat-datepicker-toggle>
            <mat-datepicker #schedule></mat-datepicker>
          </mat-form-field>
        </fieldset>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card mt-3">
      <mat-card-header>
        <mat-card-title>Área de recursos</mat-card-title>
        <mat-card-subtitle>Caso habilitar o recurso de forum de duvidas.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <div class="file-input-area w-100">
          <label class="w-100">
            <mat-card class="example-card pb-2 card-file w-100 bg-info">
              <div class="d-flex flex-row justify-content-between">
                <div class="mt-1 w-50">
                  <p>Selecione um arquivo</p>
                </div>
                <div style="margin-top: 4px">
                  <mat-icon style="font-size:2rem" [inline]="true">cloud_upload</mat-icon>
                </div>
              </div>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" hidden>
            </mat-card>
          </label>
        </div>
        <div>
          <div class="list-group" *ngIf="recursos.size > 0">
            <div href="#" class="list-group-item list-group-item-action d-flex flex-row justify-content-between" *ngFor="let r of recursos">
              <div class="d-flex flex-row justify-content-between">
                <div>
                  <mat-icon (click)="onFileRemove(r)">{{getIcon(r.nomeReal)}}</mat-icon>
                </div>
                <div class="mt-1 ml-2" (click)="toogleFileName(r)">
                  {{ r.nomeReal }}
                </div>
              </div>
              <div><mat-icon (click)="onFileRemove(r)" class="mat-icon-clicked" >delete</mat-icon></div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>
</form>

