<aside>
  <div class="row mb-5">
    <div class="col-12">
      <img src="./../../../assets/imgs/logo.svg" class="logo" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-5">
        <app-user-widget></app-user-widget>
      </div>
      <div>
        <app-subjects></app-subjects>
      </div>
      <div>
        <app-teacher-management></app-teacher-management>
      </div>
      <div>
        <app-institutional></app-institutional>
      </div>

    </div>
  </div>
</aside>
