<aside>
  <div class="row mb-5">
    <div class="col-12">
      <img src="./../../../assets/imgs/logo.svg" class="logo" alt="" [routerLink]="['/painel']">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-5">
        <app-user-widget></app-user-widget>
      </div>
      <div>
        <app-subjects *ngIf="isAluno() || isRoot()" ></app-subjects>
      </div>
      <div>
        <app-teacher-management *ngIf="isProfessor() || isRoot()"></app-teacher-management>
      </div>
      <div>
        <app-institutional></app-institutional>
      </div>
      <div>
        <app-root-widget></app-root-widget>
      </div>

    </div>
  </div>
</aside>
