form {
  input.form-control {
    font-size: 3em;
    border-radius: 0;
    margin: 0;
    border: 1px solid rgb(200,200,200);
    padding: 50px;
    height: 150px;
    text-align: center;
    text-transform: uppercase;
    border-right: 0;
  }
}
.without-border {
  border: 0;
}

button {
  border: 0;
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 145px;
}

input.form-control {
  &.border-left-styled {
    border-radius: 20px 20px 20px 20px;
  }
}
