<div class="login-container">
<mat-card>
  <div class="mb-4">
    <img src="./../../../assets/imgs/logo.svg" class="w-25">
  </div>
  <mat-card-header [ngClass]="{'fix-margin': true}">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Preencha os campos para entrar no sistema</mat-card-subtitle>
  </mat-card-header>

  <form class="form" [formGroup]="loginFormGroup" novalidate autocomplete="off" (ngSubmit)="login()" >
  <mat-card-content>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Entre com seu email</mat-label>
        <input matInput [formControl]="emailFormControl" type="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Entre com sua senha</mat-label>
        <input matInput [formControl]="passwordFormControl" type="password">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <div class="d-flex flex-row justify-content-between">
        <div class="mt-2">
          <a href="javascript: void;">Esqueceu sua senha?</a>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="login()" [disabled]="emailFormControl.errors && passwordFormControl.errors">Continuar</button>
        </div>
      </div>
    </mat-card-actions>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <div class="mt-4 text-center">
        <a [routerLink]="['/registro']">Ainda não tem cadastro?</a>
      </div>
    </mat-card-actions>
  </form>


</mat-card>
</div>



