<div class="login-container">
<mat-card>
  <div class="mb-4">
    <img src="./../../../assets/imgs/logo.svg" class="w-25">
  </div>
  <mat-card-header [ngClass]="{'fix-margin': true}">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Preencha os campos para entrar no sistema</mat-card-subtitle>
  </mat-card-header>

  <form class="form" [formGroup]="loginFormGroup" novalidate autocomplete="off" (ngSubmit)="login()" >
  <mat-card-content>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Entre com seu email" [formControl]="emailFormControl">
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" placeholder="Entre com sua senha" [formControl]="passwordFormControl">
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="d-flex flex-row justify-content-between">
        <div class="mt-2">
          <a href="javascript: void;">Esqueceu sua senha?</a>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="login()">Continuar</button>
        </div>
      </div>
    </mat-card-actions>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <div class="mt-4 text-center">
        <a [routerLink]="['/registro']">Ainda não tem cadastro?</a>
      </div>
    </mat-card-actions>
  </form>


</mat-card>
</div>



