<div class="login-container">

  <mat-card>
    <div class="mb-4">
      <img src="./../../../assets/imgs/logo.svg" class="img-fluid">
    </div>
    <mat-card-header [ngClass]="{'fix-margin': true}">
      <mat-card-title>Registro</mat-card-title>
      <mat-card-subtitle>Preencha os campos para se registrar no sistema</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <button mat-raised-button color="" (click)="openBottomSheet()" class="form-control mb-3">Selecione o tipo de usuário</button>
      </div>
      <form class="form" [formGroup]="registerFormGroup" novalidate autocomplete="off" *ngIf="!!aluno || !!professor">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nome e sobrenome</mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="username" type="text">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="repeatPassword" type="password">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions *ngIf="!!aluno || !!professor">
      <div class="d-flex flex-row justify-content-between">
        <div class="mt-2">
          <a href="javascript: void;">Esqueceu sua senha?</a>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="signup()">Continuar</button>
        </div>
      </div>
    </mat-card-actions>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <div class="mt-4 text-center">
        <a [routerLink]="['/login']">Já possuí um registro? Faça login</a>
      </div>
    </mat-card-actions>


  </mat-card>
</div>
