/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

aside {
  .mat-list-base .mat-list-item {
    font-size: 14px;
  }
  .mat-list-item-content {
    margin: -14px;
    &:hover {
      color: rgb(0, 143, 226);
      cursor: pointer;
    }
  }
  h2.section-title {
    font-size: 1.3rem;
  }
}

.container-page {
  padding: 50px 20px;
}


input.form-control button button.btn .mat-focus-indicator .mat-raised-button .mat-button-base .mat-primary .mat-button-focus-overlay{
  &:focus {
    box-shadow: unset;
  }
}

table {
  tbody {
    tr {
      &:hover {
        background-color: rgb(240,240,240);
        cursor: pointer;
      }
    }
  }
}
