<section>
  <mat-list>
    <h2 class="section-title">Disciplinas</h2>
    <mat-list-item (click)="goToUrl('/disciplinas')"> Algoritmos e soluções de problemas </mat-list-item>
    <mat-list-item (click)="goToUrl('/disciplinas')"> Cálculo 1 </mat-list-item>
    <mat-list-item (click)="goToUrl('/disciplinas')"> Calculo Vetorial e Geometria analitica </mat-list-item>
    <mat-list-item (click)="goToUrl('/disciplinas')"> Lógica matemática </mat-list-item>
    <mat-list-item (click)="goToUrl('/disciplinas')"> CCP </mat-list-item>
  </mat-list>
</section>

